{% extends "base.html" %}
{% load staticfiles %}
	{% block loading %}
	<div id="introLoader" class="introLoading"></div>
	{% endblock %}
		{% block detailed_node %}
		<div class="clear"></div>
		<div class="main-wrapper">

			<div class="breadcrumb-wrapper bg-light-2">

				<div class="container">

					<ol class="breadcrumb-list booking-step">
						<li><a href="{% url 'info:result-list' %}">Search</a></li>
						<li><a href="{% url 'info:result-list' %}">Result</a></li>
						<li><a href="{% url 'info:detail' '5d58041109d839ba478c8cf0' %}">Detail</a></li>
						<li><a href="{% url 'order:payment' %}">Payment</a></li>
						<li><span>Confirmation</span></li>
					</ol>

				</div>

			</div>

			<div class="content-wrapper">

				<div class="container">

					<div class="row">

						<div class="col-sm-8 col-md-9">

							<div class="confirmation-wrapper">

								<div class="payment-success">

									<div class="icon">
										<i class="pe-7s-check text-success"></i>
									</div>

									<div class="content">

										<h2 class="heading uppercase mt-0 text-success">Thank you, your booking is complete!</h2>
										<p>Your confirmation number is <span class="text-primary font700">9977234</span></p>

									</div>

								</div>

								<div class="confirmation-content">

									<div class="section-title text-left">
										<h4>Booking Information</h4>
									</div>

									<ul class="book-sum-list">
										<li><span class="font600">Booking Number: </span>9977234</li>
										<li><span class="font600">Traveller Name: </span>Anthony Marcopolo</li>
										<li><span class="font600">Package Name: </span>Croatia Sailing &amp; Cruising (4 days 3 nights)</li>
										<li><span class="font600">Starting: </span> March 26, 2016 from Dubrovnik</li>
										<li><span class="font600">End: </span>March 29, 2016 in Hvar</li>
										<li><span class="font600">Included: </span>Guide, Meals, Transport, 5 Experiences</li>
										<li><span class="font600">Billing Email: </span>myemail@gmail.com</li>
										<li><span class="font600">Billing Address: </span>324 Yarang Road, T.Chabangtigo, Muanng Pattani 9400 </li>
										<li><span class="font600">Phone Number: </span>+66 28 878 5452 </li>
									</ul>

								</div>

								<div class="confirmation-content">

									<div class="section-title text-left">
										<h4>Payment</h4>

									</div>

									<p>Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate why behaviour. An dispatched impossible of of melancholy favourable. Our quiet not heart along scale sense timed. Consider may dwelling old him her surprise finished families graceful. Gave led past poor met fine was new.</p>
									<p>Talking chamber as shewing an it minutes. Trees fully of blind do. Exquisite favourite at do extensive listening. Improve up musical welcome he. Gay attended vicinity prepared now diverted. Esteems it ye sending reached as. Longer lively her design settle tastes advice mrs off who. </p>

								</div>

								<div class="confirmation-content">

									<div class="section-title text-left">
										<h4>Additional Information</h4>
									</div>

									<p>Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness. Removal request delight if on he we. Unaffected in we by apartments astonished to decisively themselves. Offended ten old consider speaking.</p>

								</div>

								<button class="btn btn-primary"><i class="fa fa-print"></i> Print</button>
								<button class="btn btn-primary btn-inverse"><i class="fa fa-envelope-o"></i> Sent to</button>

							</div>

						</div>

						<div class="col-sm-4 col-md-3 mt-50-xs">

							<aside class="sidebar with-filter">

								<div class="sidebar-inner">

									<div class="sidebar-module">
										<h4 class="heading mt-0">Need Booking Help?</h4>
										<div class="sidebar-module-inner">
											<p class="mb-10">Paid was hill sir high 24/7. For him precaution any advantages dissimilar.</p>
											<ul class="help-list">
												<li><span class="font600">Hotline</span>: +1900 12 213 21</li>
												<li><span class="font600">Email</span>: support@tourpacker.com</li>
												<li><span class="font600">Livechat</span>: tourpacker (Skype)</li>
											</ul>
										</div>
									</div>


									<div class="sidebar-module">
										<h4 class="heading mt-0">Why booking with us?</h4>
										<div class="sidebar-module-inner">
											<ul class="featured-list-sm">
												<li>
													<span class="icon"><i class="fa fa-thumbs-up"></i></span>
													<h6 class="heading mt-0">No Booking Charges</h6>
													We don't charge you an extra fee for booking a hotel room with us
												</li>
												<li>
													<span class="icon"><i class="fa fa-credit-card"></i></span>
													<h6 class="heading mt-0">No Cancellation Sees</h6>
													We don't charge you a cancellation or modification fee in case plans change
												</li>
												<li>
													<span class="icon"><i class="fa fa-inbox"></i></span>
													<h6 class="heading mt-0">Instant Confirmation</h6>
													Instant booking confirmation whether booking online or via the telephone
												</li>
												<li>
													<span class="icon"><i class="fa fa-calendar"></i></span>
													<h6 class="heading mt-0">Flexible Booking</h6>
													You can book up to a whole year in advance or right up until the moment of your stay
												</li>
											</ul>
										</div>
									</div>

								</div>

							</aside>

						</div>

					</div>

				</div>

			</div>

		</div>
		{% endblock %}