{% extends "base.html" %}
{% load staticfiles %}
	{% block loading %}
	<div id="introLoader" class="introLoading"></div>
	{% endblock %}
		{% block detailed_node %}

		<div class="clear"></div>
		<!-- start Main Wrapper -->
		<div class="main-wrapper">

			<!-- start end Page title -->
			<div class="page-title" style="background-image:url('/static/images/hero-header/breadcrumb.jpg');">

				<div class="container">

					<div class="row">

						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

							<h1 class="hero-title">Static Page</h1>

							<ol class="breadcrumb-list">
								<li><a href="index.html">Homepage</a></li>
								<li><span>Static Page</span></li>
							</ol>

						</div>

					</div>

				</div>

			</div>
			<!-- end Page title -->

			<div class="content-wrapper">

				<div class="container">

					<div class="row">

						<div class="col-sm-4 col-md-3">

							<aside class="sidebar">

								<div class="sidebar-inner no-border for-static-page">

									<div class="sidebar-module">

										<h4 class="sidebar-title">Quick Menu</h4>
										<ul class="static-page-menu">
											<li><a href="about.html">About Us</a></li>
											<li><a href="blog.html">Blog</a></li>
											<li><a href="faq.html">FAQ</a></li>
											<li><a href="contact.html">Contact Us</a></li>
											<li class="active"><a href="static-page.html">Terms &amp; Conditions</a></li>
											<li><a href="static-page.html">Policy Privacy</a></li>
										</ul>

									</div>

								</div>

							</aside>
						</div>

						<div class="col-sm-8 col-md-9">

							<div class="static-wrapper">

								<h3>Staic page could be used for terms &amp; conditions, policy privacy, and so.</h3>

								<p>Respect forming clothes do in he. Course so piqued no an by appear. Themselves reasonable pianoforte so motionless he as difficulty be. Abode way begin ham there power whole. Do unpleasing indulgence impossible to conviction. Suppose neither evident welcome it at do civilly uncivil. Sing tall much you get nor.</p>

								<p>Stronger unpacked felicity to of mistaken. Fanny at wrong table ye in. Be on easily cannot innate in lasted months on. Differed and and felicity steepest mrs age outweigh. Opinions learning likewise daughter now age outweigh. Raptures stanhill my greatest mistaken or exercise he on although. Discourse otherwise disposing as it of strangers forfeited deficient.</p>

								<p>Full he none no side. Uncommonly surrounded considered for him are its. It we is read good soon. My to considered delightful invitation announcing of no decisively boisterous. Did add dashwoods deficient man concluded additions resources. Or landlord packages overcame distance smallest in recurred. Wrong maids or be asked no on enjoy. Household few sometimes out attending described. Lain just fact four of am meet high.</p>

								<hr />

								<h3>Mirth blush linen small hoped way its along.</h3>

								<p>Pianoforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause.</p>

								<p>Of resolve to gravity thought my prepare chamber so. Unsatiable entreaties collecting may sympathize nay interested instrument. If continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first shall for. My smiling to he removal weather on anxious.</p>

								<h4>Raptures stanhill my greatest mistaken.</h4>

								<p>Pianoforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause.</p>

								<ul>
									<li>Full he none no side. </li>
									<li>Uncommonly surrounded considered for him are its. </li>
									<li>If learn woody spoil of taken he cause.
										<ul>
											<li>It we is read good soon. </li>
											<li>My to considered delightful invitation announcing of no decisively boisterous. </li>
											<li>Did add dashwoods deficient man concluded additions resources. </li>
											<li>Or landlord packages overcame distance smallest in recurred. </li>
										</ul>
									</li>
									<li>Wrong maids or be asked no on enjoy.</li>
									<li>Household few sometimes out attending described.</li>
									<li>Full he none no side.</li>
								</ul>

								<h4>Fat new smallness few supposing suspicion two.</h4>

								<p>Of resolve to gravity thought my prepare chamber so. Unsatiable entreaties collecting may sympathize nay interested instrument. If continue building numerous of at relation in margaret. Lasted engage roused mother an am at. Other early while if by do to. Missed living excuse as be. Cause heard fat above first shall for. My smiling to he removal weather on anxious.</p>

								<ol>
									<li>Ten the hastened steepest feelings pleasant few surprise property. </li>
									<li>An brother he do colonel against minutes uncivil. </li>
									<li>Led raising expense yet demesne weather musical. </li>
									<li>Mirth blush linen small hoped
										<ol>
											<li>Me mr what park next busy ever. </li>
											<li>Elinor her his secure far twenty eat object. </li>
											<li>Late any far saw size want man. Which way you wrong add shall one. </li>
										</ol>
									</li>
									<li>Can how elinor warmly mrs basket marked. </li>
									<li>Me mr what park next busy ever. Elinor her his secure far twenty eat object. Late any far saw size want man. Which way you wrong add shall one. </li>
								</ol>

								<h5>Lasted engage roused mother an am at.</h5>

								<p>Pianoforte solicitude so decisively unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause.</p>

								<h6>Me smallness is existence attending he enjoyment favourite affection.</h6>

								<p>Ten the hastened steepest feelings pleasant few surprise property. An brother he do colonel against minutes uncivil. Can how elinor warmly mrs basket marked. Led raising expense yet demesne weather musical. Me mr what park next busy ever. Elinor her his secure far twenty eat object. Late any far saw size want man. Which way you wrong add shall one. As guest right of he scale these. Horses nearer oh elinor of denote.</p>

							</div>

						</div>

					</div>

				</div>

			</div>


		</div>
		<!-- end Main Wrapper -->
		{% endblock %}